autogen-agentchat
autogen-core
autogen-ext
asyncio
tiktoken
pydantic
typing
openai
python-dotenv
langchain
langchain-core
langchain-groq
langchain-community
ipykernel
mysql-connector-python
fastapi
uvicorn
python-multipart
pypdf